---
/**
 * Example Usage

  <Button label="Example Button" url="/" />
  <Button variant="outline" label="With External Link" url="https://astro.build" />
  <Button variant="text" label="Example Button" url="/" />

 */
import { getLocaleUrlCTM } from "@/lib/utils/languageParser";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

type Props = {
  label: string;
  url: string;
  rel?: string;
  target?: string;
  variant: "fill" | "outline" | "text";
};

const { label, url, rel, target, variant = "fill" } = Astro.props;
---

<a
  {...{
    // Set `rel` attribute for external urls or use provided value
    rel: url?.startsWith("http")
      ? rel || "noopener noreferrer"
      : rel || undefined,

    // Set `target` to "_blank" for external urls unless otherwise specified
    target: url?.startsWith("http") ? target || "_blank" : target || undefined,
  }}
  class:list={[
    "not-prose me-2.5 mb-2.5 btn",
    {
      "btn-text btn-text-primary has-icon-moving-animation": variant === "text",
    },
    {
      "lg:has-text-flip-animation btn-primary": variant === "fill",
    },
    {
      "lg:has-text-flip-animation btn-outline btn-outline-primary has-hover-ring-animation":
        variant === "outline",
    },
  ]}
  {...{
    "data-content": variant !== "text" ? label : undefined,
  }}
  href={getLocaleUrlCTM(url, Astro.currentLocale)}>
  {label}
  {
    variant === "text" && (
      <span class="items-center justify-center icons-wrapper w-2.5 h-2.5 inline-flex ms-2">
        <span class="flex items-center justify-center icon icon-before">
          <OptimizedImage
            alt="icon"
            inlineSvg={true}
            class="w-6 h-6"
            src="/images/icons/svg/arrow-top-right.svg"
          />
        </span>
        <span
          class="flex items-center justify-center icon icon-after"
          aria-hidden="true">
          <OptimizedImage
            alt="icon"
            inlineSvg={true}
            class="w-6 h-6"
            src="/images/icons/svg/arrow-top-right.svg"
          />
        </span>
      </span>
    )
  }
</a>
